
/*------------------------------------*\
    Header
\*------------------------------------*/
header {
  background: #2d333b;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
  // width: 100%;

  // @media (min-width: map-get($grid-breakpoints, 'xl')) {
  //   max-width: 1600px;
  // }
}

.logo {
  display: inline-block;

  > a {
    display: block;
  }

  img {
    width: 70px;
  }
}
