
/*------------------------------------*\
    Header
\*------------------------------------*/
header {
  background: #584b4f;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 1.0875rem;
  width: 100%;

  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    max-width: 1600px;
  }
}

.logo {
  display: inline-block;
}
